body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73d7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Adicionado para não colar nos cantos */
  }

  .card {
    background: #e2beff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px; /* Adicionado para limitar no desktop */
    text-align: center;
    margin: auto; /* Centralização no mobile */
  }

  .card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px; /* Arredondar as bordas da imagem */
    border-top-right-radius: 8px;
  }

  .card h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    color: #333;
  }

  .card p {
    padding: 0 20px 20px;
    margin: 0;
    color: #444;
  }

  /* Media query para telas maiores (desktop) */
  @media (min-width: 768px) {
    body {
      height: auto;
    }
    .card {
      transition: transform 0.3s ease; /* Efeito legalzinho ao pairar */
    }
    .card:hover {
      transform: translateY(-10px); /* Levanta o card quando passa o mouse */
    }
  }
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
